main {
    background-image: url('./assets/myreport-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signin-container {
    height: 700px;
    background-color: white;
    margin-top: 80px;
    border-radius: 16px;
}