.initial {
    background-image: url('./assets/myreport-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-row {
    height: auto;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}

.presentation-div {
    height: 100%;
    background-color: white;
    border-radius: 16px;
}

.presentation-content {
    padding: 0px 20px 0px 20px;
    font-family: 'Arial';
    text-align: justify;
}

.logo {
    display: block;
    margin: 0 auto;
}

.login-div {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.forget-password {
    display: inline;
}

.signin-div {
    padding: 15px 0px 15px 0px;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #999;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.ou {
    transform: translateY(-2px);
    padding: 0px 5px;
    display: inline-block;
}
