.report {
    width: 800px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 16px;
    background-color: white;
    padding: 20px;
}

.profile-icon {
    background-color: white;
    border-radius: 20px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.profile-name {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
}

.report-title {
    margin-top: 10px;
}

.report-image {
    border-radius: 16px;
    width: 100%;
}

.report-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upvote {
    background-color: lightgray;
    width: 65px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px;
    align-items: center;
    margin-top: 10px;
}

.comment {
    border-radius: 20px;
    background-color: lightgray;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
}