.initial {
    background-image: url('./assets/myreport-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-fluid {
    align-items: center;
}

.presentation-div {
    margin:auto;
}

.presentation-content {
    height: auto;
    max-height: 80vh;
    padding-bottom: 20px;
}

.signup-overflow {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.signup-button {
    margin-top: 20px;
    margin-bottom: 20px;
}